.container(data-ng-controller="loginController as ctrl")
  h1 Login Page
  p.lead {{message}}
  div.col-md-4.col-sm-6
    <div data-ng-show="ctrl.error" class="alert alert-danger">{{ctrl.errorMessage}}</div>
    <div data-ng-show="ctrl.success" class="alert alert-success">{{ctrl.successMessage}}</div>

    form(name="form" role="form", data-ng-submit="ctrl.submitForm(form.$valid)", method="post" novalidate, autocomplete="off")
      .form-group(show-errors)
        input.form-control(type="text", name="username", placeholder="Enter Username", data-ng-model="ctrl.user.username", data-ng-minlength="3", required="required")

      .form-group(show-errors)
        input.form-control(type="password", name="password", placeholder="Password", data-ng-model="ctrl.user.password", data-ng-minlength="4",required="required")

      button.btn.btn-default(type="submit") Submit

      a(href='/')
        button.btn.btn-primary(type="button") Cancel