nav.navbar.navbar-fixed-top.navbar-default
  div.container-fluid
    div.navbar-header
      a.navbar-brand(href="/") MeanApp

    div.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-class="mCtrl.menuClass('about')")
          a(href="about") About
        li(ng-class="mCtrl.menuClass('contact')")
          a(href="contact") Contact
        li(ng-class="mCtrl.menuClass('CMS')", ng-show="loggedIn")
          a(href="CMS") CMS
        li(ng-class="mCtrl.menuClass('contacts')", ng-show="loggedIn")
          a(href="CMS/contacts") Contacts
         li(ng-class="mCtrl.menuClass('tasks')", ng-show="loggedIn")
          a(href="CMS/tasks") Tasks


      ul.list-inline.pull-right.nav.navbar-nav
        li( ng-show="loggedIn")
          span.hello Hello {{username}}
        li(ng-class="mCtrl.menuClass('logout')", ng-controller="logoutController as logoutCtrl",ng-show="loggedIn")
          a(href="logout", ng-click="logoutCtrl.logout()") Logout


        li(ng-class="mCtrl.menuClass('login')", ng-hide="loggedIn")
          a(href="login") Login
        li(ng-class="mCtrl.menuClass('register')", ng-hide="loggedIn")
          a(href="register") Register
