.container-fluid
  h1 Contacts {{ user.username}}
  div.row.col-md-12
div.container-fluid
  div.jumbotron.text-center
    <h1>CMS Dashboard</h1>
    p
      a(href="CMS/contacts") Contacts
    p
      a(href="CMS/tasks") Tasks

