.container-fluid
  div.jumbotron.text-center
    h1 CMS Dashboard
  div.col-md-12.mb-10
    ul.list-inline.ul-inner-nav
      li
        a(href="CMS/contacts") Contacts
      li
        a(href="CMS/tasks") Tasks
      li
        a(href="CMS/caseworks") Caseworks


  div.col-md-12.mtb-box
    p.lead News and updates for you
