$ cat .gitignore

*~     # no files with ending and logs ~
logs
*.log

env.json #env.json.sample provided, just remove '.sample' and add/replace values

# Dependency directory
node_modules

NOTES
.env.json

# My copies :)
(copy)*.js
