{
  "development": {
    "dbHost"        : "localhost",
    "dbPort"        : "27017",
    "dbName"        : "",
    "secret"        : "",
    "mLab"          : "",
    "local"         : "",
    "writeLog"      : false,
    "emailHost"     : "",
    "emailPort"     : ,
    "emailSecure"   : true,
    "emailUser"     : "",
    "emailPassword" : ""
  },
  "production": {
    "dbHost"        : "localhost",
    "dbPort"        : "27017",
    "dbName"        : "",
    "secret"        : "",
    "mLab"          : "",
    "local"         : "",
    "writeLog"      : false,
    "emailHost"     : "",
    "emailPort"     : ,
    "emailSecure"   : true,
    "emailUser"     : "",
    "emailPassword" : ""
  }
}