.container-fluid
  div.jumbotron.text-center
    h1 Tasks Index {{ username }}

  div.col-md-12.mtb-box
    div.col-md-12.col-sm-12

      form(name="myForm")
        label.block List of users

        div.btn-group( uib-dropdown )
          button.btn.btn-default(type="button", id="users-list", uib-dropdown-toggle) {{ tCtrl.selectedUsername }}
            span.caret
          ul.dropdown-menu(uib-dropdown-menu, role="menu", aria-labelledby="users-list")
            li(role="menuitem",data-ng-model="tCtrl.userSelect", data-ng-repeat="user in tCtrl.userList track by user.username", data-ng-click="tCtrl.userChanged(user._id, user.username)")
              a(href="/CMS/tasks/{{user._id}}") {{user.username}} &nbsp;
                span(data-ng-class="user._id === tCtrl.assignedUserId ? 'glyphicon green glyphicon-ok':''")

    div.col-md-12.col-sm-12
      <task-list></task-list>




