.container
  h1 Contacts Details
  div.row.col-md-12.mtb-box
    //- notifications when contact is saved/updated/deleted
    div(uib-alert  ng-repeat="alert in cCtrl.alerts", dismiss-on-timeout="5000", type="{{alert.type}}", close="cCtrl.closeAlert()" ) {{alert.msg}}
  {{cCtrl.numPerPage}}
  {{cCtrl.totalItems}}
  div.row.col-md-12
    h2 {{ cCtrl.contact.fname }} {{ cCtrl.contact.lname }}

    p.lead
      i.user
      | {{ cCtrl.contact.username }}
    p.lead
      a.email(href="email") Email {{ cCtrl.contact.email }}
    p.lead
      i.phone
      | Phone {{ cCtrl.contact.phone }}
  div.row.col-md-12
    div(data-ng-if="cCtrl.totalItems > 0")
      h2 Tasks
      <task-list-contacts></task-list-contacts>

