div.row.col-md-12.page-section.wide-padding(data-ng-show="cCtrl.formShow")
  form.form-horizontal.col-md-6(novalidate, autocomplete="off", name="cCtrl.form")
    .form-group(show-errors)
      label.control-label.col-xs-2 Username
        span.icon-req.glyphicon.glyphicon-asterisk
      .col-xs-10
        input.form-control(type="text", name="username", placeholder="Enter Username", data-ng-model="cCtrl.contact.username", data-ng-minlength="3", required="required" username)

        span.help-inline.error(data-ng-show = "cCtrl.form.username.$touched && cCtrl.form.username.$error.required") Username required
        span.help-inline.error(data-ng-show = "cCtrl.form.username.$error.username") Username already taken

    .form-group(show-errors)
      label.control-label.col-xs-2 First Name
        span.icon-req.glyphicon.glyphicon-asterisk
      .col-xs-10
        input.form-control(type="text", name="fname", placeholder="Enter First Name", data-ng-model="cCtrl.contact.fname", data-ng-minlength="3", required="required")

        span.help-inline.error(data-ng-show = "cCtrl.form.fname.$touched &&  cCtrl.form.fname.$error.required") First name required

    .form-group(show-errors)
      label.control-label.col-xs-2 Last Name
        span.icon-req.glyphicon.glyphicon-asterisk
      .col-xs-10
        input.form-control(type="text", name="lname", placeholder="Enter Last Name", data-ng-model="cCtrl.contact.lname", data-ng-minlength="3", required="required")

        span.help-inline.error(data-ng-show = "cCtrl.form.lname.$touched &&  cCtrl.form.lname.$error.required") Last name required

    .form-group(show-errors)
      label.control-label.col-xs-2 Email
        span.icon-req.glyphicon.glyphicon-asterisk
      .col-xs-10
        input.form-control(type="email", name="email", placeholder="Enter Email", data-ng-model="cCtrl.contact.email", data-ng-minlength="3", required="required" email)

        span.help-inline.error(data-ng-show = "cCtrl.form.email.$touched &&  cCtrl.form.email.$error.required") Email required

        span.help-inline.error(data-ng-show = "cCtrl.form.email.$touched &&  cCtrl.form.email.$error.email") Email should be valid

        span.help-inline.error(data-ng-show = "cCtrl.form.email.$error.emailExists") Email already exists

        //- <tt>text = {{cCtrl.email.text}}</tt><br/>
        //- <tt>myForm.input.$valid = {{cCtrl.form.email.$valid}}</tt><br/>
        //- <tt>myForm.input.$error = {{cCtrl.form.email.$error}}</tt><br/>
        //- <tt>myForm.$valid = {{cCtrl.form.$valid}}</tt><br/>
        //- <tt>myForm.$error.required = {{!!cCtrl.form.$error.required}}</tt><br/>
        //- <tt>myForm.$error.email = {{!!cCtrl.form.$error.email}}</tt><br/>
    .form-group
      label.control-label.col-xs-2 Phone
      .col-xs-10
        input.form-control(type="text", name="phone", placeholder="Enter PhoneNo", data-ng-model="cCtrl.contact.phone", data-ng-minlength="3", required="required")



    p.small Required fields
      span.icon-req.glyphicon.glyphicon-asterisk
    .form-group.text-right
      .col-xs-offset-2.col-xs-10
        button.btn.btn-primary(data-ng-show="!cCtrl.btnShow", data-ng-click="cCtrl.create()") Add Contact
        button.btn.btn-info(data-ng-show="cCtrl.btnShow", data-ng-click="cCtrl.update()") Update Contact
        button.btn.btn-default(data-ng-click="cCtrl.closeForm()") Cancel