p.lead.animate-show(data-ng-if="cCtrl.totalItems == 0") No contacts

div.row.col-md-12
  ul.table.contacts
    li.table-row(data-ng-repeat="contact in cCtrl.contactList | filter:cCtrl.search track by contact._id")
      div.table-cell
        p {{ contact.username}}
      div.table-cell
        p {{ contact.fname}} {{ contact.lname}}
      div.table-cell
        p {{ contact.email}}
      div.table-cell
        p {{ contact.phone}}
      div.table-cell
        button.btn.btn-sm(uib-tooltip="Delete", tooltip="tooltip", tooltip-placement="top", ng-confirm-message="Are you sure to delete contact?", ng-confirm-click="cCtrl.remove(contact._id)" )
          i.glyphicon.glyphicon-trash.red
        button.btn.btn-sm(uib-tooltip="Edit", tooltip="tooltip", tooltip-placement="top",data-ng-click="cCtrl.edit(contact._id)")
          i.glyphicon.glyphicon-edit.inherit
        a.inherit.view-btn(href="/CMS/contacts/{{ contact._id }}",uib-tooltip="View", tooltip="tooltip", tooltip-placement="top")
          i.glyphicon.glyphicon-eye-open

div(data-ng-if="cCtrl.totalItems > cCtrl.numPerPage")
  div(uib-pagination, data-ng-model="cCtrl.currentPage", total-items="cCtrl.totalItems", items-per-page="cCtrl.numPerPage", boundary-links="true",  class="pagination-sm pull-right", previous-text="<", next-text=">", first-text="<<", last-text=">>", force-ellipses="true", boundary-link-numbers="true", data-ng-change="cCtrl.pageChanged()")
