//- <pre>The selected page no: {{cCtrl.currentPage}}</pre>

div.row.col-md-12
    table.table.table-striped.table-hover
      thead
        tr
          th No
          th(data-ng-click="cCtrl.sort('username')") Username
           span.glyphicon.sort-icon(data-ng-show="cCtrl.sortKey === 'username'", ng-class="{'glyphicon-chevron-up':cCtrl.reverse, 'glyphicon-chevron-down':!cCtrl.reverse}")
          th(data-ng-click="cCtrl.sort('fname')") First Name
           span.glyphicon.sort-icon(data-ng-show="cCtrl.sortKey === 'fname'", ng-class="{'glyphicon-chevron-up':cCtrl.reverse, 'glyphicon-chevron-down':!cCtrl.reverse}")
          th(data-ng-click="cCtrl.sort('email')") Email
           span.glyphicon.sort-icon(data-ng-show="cCtrl.sortKey === 'email'", ng-class="{'glyphicon-chevron-up':cCtrl.reverse, 'glyphicon-chevron-down':!cCtrl.reverse}")
          th(data-ng-click="cCtrl.sort('phone')") Phone
           span.glyphicon.sort-icon(data-ng-show="cCtrl.sortKey === 'phone'", ng-class="{'glyphicon-chevron-up':cCtrl.reverse, 'glyphicon-chevron-down':!cCtrl.reverse}")
      tbody
        tr(data-ng-repeat="(i,contact) in cCtrl.contactList | filter:cCtrl.search  | orderBy:cCtrl.sortKey")
          td {{ i+1 }}
          td {{ contact.username}}
          td {{ contact.fname}}
          td {{ contact.email}}
          td {{ contact.phone}}
          td
            button.btn.btn-danger(ng-confirm-message="Are you sure to delete contact?" ,ng-confirm-click="cCtrl.remove(contact._id)" ) Delete
          td
            button.btn.btn-warning(data-ng-click="cCtrl.edit(contact._id)") Edit
div(uib-pagination, data-ng-model="cCtrl.currentPage", total-items="cCtrl.totalItems", items-per-page="cCtrl.numPerPage", boundary-links="true",  class="pagination-sm pull-right", previous-text="<", next-text=">", first-text="<<", last-text=">>", force-ellipses="true", boundary-link-numbers="true", data-ng-change="cCtrl.pageChanged()")
